{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
{% if users %}
    {% for user in users %}
        <h3>Name - {{user.name}}</h3>
        <p>Email - {{user.email}}</p><br>
    {% endfor %}
{% endif %}
{% if edit_user %}
    <form action="/edit_user/" method="post">
        <button type="submit">Изменить пользователя</button>
    </form>
    <form action="/delete_user/" method="post">
        <button type="submit">Удалить пользователя</button>
    </form>
{% endif %}
{% endblock %}


