# DATABASE_URL - URL для подключения к базе данных
# Пример: postgresql://user:password@localhost/dbname
DATABASE_URL=postgresql://your_user:your_password@localhost/your_dbname

# DEBUG - включение режима отладки (True или False)
# Пример: True (для разработки), False (для продакшн)
DEBUG=True

# HOST - хост для запуска сервера
# Пример: 0.0.0.0
HOST=0.0.0.0

# PORT - порт для запуска сервера
# Пример: 8000
PORT=8000
